body {
    background-image: url(../src/images/work-img/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
}

// Game menu

// header 

@mixin wrapper {
    width: 320px;
    margin: 0 auto;
}

header {
    @include wrapper();
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
    color: #23ff7e;
    font-weight: bold;
}

.score {
    display: flex;
}

// end header

// main

main {
    @include wrapper();
    margin-top: 20px;
    background-color: #adadad9f;
    padding: 10px;
}



.painting-img {
    min-height: 300px;
    max-height: 400px;
    width: 300px;
    margin: 0 auto;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.painting-about-btn {
    display: block;
    margin: 10px auto;
    background-color: grey;
    color: #505050;
}

.painting-about-btn-active {
    background-color: #fff;
    color: green;
}

.painting-about-window {
    box-sizing: border-box;
    position: fixed;
    top: 75px;
    min-height: 400px;
    width: 320px;
    background-color: #9e9e9e;
    padding: 20px 10px;
    transform: scale(0);
    transition: 0.5s;
}

.painting-popup-active {
    transform: scale(1);
}
.answer-variant {
    display: flex;
    justify-content: space-between;
}

.variant-btn {
    width: 50%;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    background-color: aqua;
    padding-top: 5px;
    box-sizing: border-box;
}

.variant-btn-active {
    background-color: rgb(1, 143, 143);
}

.painting-variant {
    border-radius: 20px 0 0 0;
}

.painter-variant {
    border-radius: 0 20px 0 0;
}

.answers-paintings, .answers-painters {
    height: 130px;
}

.answers-disactive {
    display: none;
}

li::marker {
    color: aliceblue;
}

.wrong-answer::marker {
    color: red;
}

.right-answer::marker {
    color: green;
}

ul{
    font-size: 18px;
    font-weight: 400;
}

.next-question-btn {
    display: block;
    margin: 0 auto;
}

.next-question-btn:hover{
    cursor: pointer;
}

.next-question-btn-disactive {
    background-color: grey;
}

.next-question-btn-disactive:hover{
    background-color: grey;
    cursor: default;
}

.painter-about {
    box-sizing: border-box;
    position: fixed;
    top: 75px;
    min-height: 400px;
    width: 320px;
    background-color: #9e9e9e;
    padding: 20px 10px;
    transform: scale(0);
    transition: 0.5s;
}

.painter-about-active {
    transform: scale(1);
}

.painter-about-img {
    min-height: 300px;
    max-height: 400px;
    width: 300px;
    margin: 0 auto;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

// start menu

.menu {
    @include wrapper();
    margin-top: 45vh;
    background-color: #b6b4b4;
    padding: 20px;
}

.start-btn {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold
}

// finish 

.finish {
    @include wrapper();
    border-radius: 10px;
    background-color: #b6b4b4;
    padding: 10px;
    margin-top: 100px;
}

.finish-text {
    font-size: 20px;
}

.finish-btn {
    font-size: 22px;
    color: rgb(15, 138, 15);
    font-weight: bold;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}